@model IEnumerable<Student>

@{
    ViewData["Title"] = "About";
}

<h2>About</h2>


<table class="table">
    <thead>
        <tr>
            <th>About Us!</th>
        </tr>
    </thead>
    <tbody>

    </tbody>
</table>
